<mat-toolbar class="toolbar" color="primary">
    <span>CV Tech</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="'cv'" routerLinkActive="active">CV</button>
    <button mat-button [routerLink]="'detail'" routerLinkActive="active">details</button>
    <button mat-button [routerLink]="'embauched'" routerLinkActive="active">Embauched</button>
    <button mat-button [routerLink]="'color'" routerLinkActive="active">Color</button>
    <button mat-button [routerLink]="'arc'" routerLinkActive="active">Arc</button>
    <button mat-button [routerLink]="'cartevisite'" routerLinkActive="active">Carte visite</button>
    <button mat-button [routerLink]="'miniworld'" routerLinkActive="active">Mini world</button>
    <button mat-button [routerLink]="'parent'" routerLinkActive="active">Parent-Fils</button>
    <button mat-button [routerLink]="'image'" routerLinkActive="active">image</button>
    
  
  </mat-toolbar>