.cv-container {
  display: flex;
  flex-direction: row; /* Ensures child components are side by side */
  justify-content: space-between;
  height: 100%; /* Full height of the parent */
  overflow: hidden; /* Prevent scrollbars */
}

app-liste, app-detail {
  flex: 1; /* Ensure both components take equal width */
  overflow-y: auto; /* Allow scrolling within the components if necessary */
  padding: 1rem; /* Add some spacing */
}
