.item-content {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-details h3 {
    margin: 0;
  }
  
  .item-details p {
    font-size: 12px;
    color: #666;
  }
  