.item-content {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-details h3 {
    margin: 0;
  }
  
  .item-details p {
    font-size: 12px;
    color: #666;
  }
  .toast-success {
  background-color: #28a745 !important;
}
.toast-error {
  background-color: #dc3545 !important;
}
.toast-info {
  background-color: #17a2b8 !important;
}
.toast-warning {
  background-color: #ffc107 !important;
}



/* Container for the buttons */


/* Styling for the buttons */
.btn {
  
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

}
.embaucher{
  margin-left: auto;
}

/* Hover effect for the buttons */
.btn:hover {
  background-color: #0056b3;
}


