<div *ngIf="item" class="detail-content">
    <!-- Display Image or Default Image -->
    <img [src]="item.image || 'assets/default-avatar.png'" alt="{{ item.firstName }} {{ item.lastName }}" class="detail-image" />
    
    <div class="detail-details">
      <!-- Display Full Name -->
      <h2>{{ item.firstName }} {{ item.lastName }}</h2>
      <!-- Display Age and Job -->
      <p>Age: {{ item.age }}</p>
      <p>Job: {{ item.job }}</p>
      <p>CIN: {{ item.cin }}</p>
    </div>
  </div>
  
  <p *ngIf="!item" class="no-selection">No item selected. Please select an item from the list.</p>
  